:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
  
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
  
    --transition: all 400ms ease;
  }



  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:var(--color-bg);
    margin: 0;

    height: 100vh;
}

.container{
    background:rgb(220, 216, 216);
    border-radius: 10px;
    width: 100vh;
    height: 60%;
    margin-left: 28%;
    padding-top: -5px;
}

h2{
    color: white;
    margin-top: 5rem;
    margin-bottom: -5rem;
}
.quiz-container {
    padding-top: 3rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    display: none; /* Initially hide the quiz container */
    margin-top: 9rem;
}

.question {
    font-size: 20px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.option input {
    display: none; /* Hide the radio button */
}

.option label {
    display: inline-block;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.option input:checked + label {
    border-color: #2ecc71; /* Green border for correct answer */
    background-color: #2ecc710d; /* Light green background for correct answer */
    box-sizing: 10px;
}

.option input:checked + label[for^="option"] {
    border-color: #e74c3c; /* Red border for wrong answer */
    background-color: #e74c3c0d; /* Light red background for wrong answer */
    box-sizing: 10px;
}

.submit-button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
    border: 2px solid #000000;
    background-color: #2c3e50;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--color-primary);
}

.result-message {
    margin-top: 20px;
    font-size: 18px;
}

.badge-link {
    text-decoration: none;
    color: #fff;
    display: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
    border: 2px solid #000000;
    background-color: #27ae60;
}



  